
/*******************************/
/* General Reusable Components */
/*******************************/



.container {
  /* to make center making a class which can be reusable */
  max-width: 120rem;
  margin:0 auto;
  padding: 0 3.2rem;
}


/* these grid are made so that it can be resused if we want only three tet div */
.grid{
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;

}

.grid--2-cols{
  grid-template-columns: repeat(2,1fr);
}

.grid--3-cols{
  grid-template-columns: repeat(3,1fr);
}

.grid--4-cols{
  grid-template-columns: repeat(4,1fr);
}
.grid--5-cols{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}



.grid--center-v{
  align-items: center;
}

/* ************ */
.heading-primary,.heading-secondary ,.heading-tertiary{
  font-weight: 600;
  color:#333;
  /* color: #45260a;   */
  letter-spacing: -0.5px;

}

.heading-primary{
  font-size:6.2rem;  /*62px */
  line-height:1.05;
  margin-bottom:3.2rem;
}

.heading-secondary{
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
   
}

.heading-tertiary{
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading{
  display: block;
  font-size:1.6rem;
  letter-spacing:0.75px ;
  font-weight:600;
  color:#cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  
}



/* ******* */
.margin-bottom-md{
  margin-bottom:4.8rem;
}

.margin-bottom-lg{
  margin-bottom: 9.6rem;
}



/* ************ */

.btn, .btn:link, .btn:visited{
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size:2rem;
  padding:1.6rem 3.2rem;
  border-radius: 9px;

  /* onlu for btn */
  border: none;
  cursor: pointer;
  font-family: inherit;




/* put transistion in original state */
  transition:all 0.3s ;



}

/* button with href attributes are selected only not others */


.btn-full:link,
.btn-full:visited{
  background-color: rgb(230, 126, 34);
  color:#fff;
}

.btn-full:hover,
.btn-full:active{
  background-color: #cf711f;
  color:#fff;
}


.btn-outline:link,
.btn-outline:visited{
  background-color: #fff;
  color:#555;
  
}
.btn-outline:hover,
.btn-outline:active{
  background-color:#fdf2e9;
  /* Trick to add border inside  so that elments dont shift otherwise */
  box-shadow:inset 0 0 0 3px #fff;
  
}

.link:link,
.link:visited{
  color: #e67e22;
  text-decoration: none;

  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition:all 0.3s;
}


.link:active,
.link:hover{
  color: #cf711f;
  border-bottom:1px solid transparent;
  /* here we use transparent because if we use none then 1px will be remove from that section */

}


.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:1.6rem;

}

.list-item{
  font-size:1.8rem;
  display: flex;
  align-items: center;
  gap:1.6rem;
}

.list-icon
{
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}





strong{
  font-weight: 600;
}
