/* common to all elements */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size:62.5%;
  overflow-x:hidden ;

  scroll-behavior: smooth;
  /* safari doesn,t support this smooth scrolling effect*/
  /* can be done through javascript */
}


body{
  font-family:'Inter',sans-serif;
  font-family: 'Rubik';
  line-height: 1;
  font-weight: 400;
  color:#555;
  overflow-x:hidden ;
  /* this is because as in mobile section we translte the bar towards right  */
  /* only works if there is nothing absolute positioned in relation to body*/
}




/*******************************/
/* Header components */
/*******************************/

.logo{
  height:2.2rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  /* because we want header to be sticky */
  height:9.6rem;
  position: relative;
  /* to make that body overflow work */
}






/*******************************/
/* Navigation components */
/*******************************/

.main-nav-list{
  list-style: none;
  display: flex;
  gap:4.8rem;
  align-items: center;

}
/* navigation link  */

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  text-decoration: none;
  color:#555;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{

  color: #cf711f;
}

/* try  for free wala  */

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding:1.2rem 2.4rem;
  border-radius:9px;
  color: #fff;
  background-color:#e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color: #cf711f;
}


/*******************************/
/* mobile*/
/*******************************/

/* we add this property but only act in media querry as display is none */

.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color:#333;
}
/* select base on attribute that is name */

.icon-mobile-nav[name="close-outline"]{
  display: none ;
}

/* sticky nav */
.sticky .header{
  position: fixed;
  top:0;
  bottom: 0;
  width: 100%;
  height:8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  background-color:rgba(255, 255,255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
}

.sticky .section-hero{
  margin-top:9.6rem;
}



/*******************************/
/* Hero Section */
/*******************************/

.section-hero{
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}





.hero{
  
  max-width:130rem;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap:9.6rem;
  padding: 0 3.2rem;
  
}



.hero-description{
  font-size:2rem;
  line-height:1.6;
  margin-bottom:4.8rem;
}

.hero-img{
  width:100%;
}



.margin-right-sm{
  margin-right: 1.6rem;
}

.delivered-meals{
  display: flex;
  margin-top:8rem;
  align-items: center;
  gap:1.6rem;

}
.delivered-imgs{
  display: flex;


}

.delivered-imgs img{
  height:4.8rem;
  width:4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border:3px solid #fdf2e9;
}

.delivered-imgs img:last-child{
  margin-right: 0;
}

.delivered-text{
  font-size:1.8rem;
  font-weight:600;
}

.delivered-text span{
  color:  #cf711f;
  font-weight:800;
}




/* ******************** */
/* FEATURED SECTION */
/* **************** */

.section-featured{
  padding: 4.8rem 0 3.2rem 0;
}


.heading-featured-in{
  font-size: 1.4rem;
  text-transform:uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color:#999;
} 

.logos{
  display: flex;
  justify-content: space-around;

}

.img-feature{
  height:3.2rem;
  filter:brightness(0);
  opacity: 50%;
}






/*******************************/
/* How it works section */
/*******************************/

.section-how{
  padding: 9.6rem 0;
  /* background-color: aqua; */
}


.step-text-box{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
}



.step-number{
  font-size: 8.6rem;
  font-weight: 600;
  color:#ddd;
  margin-bottom: 1.2rem;
}


.step-description{
  font-size:1.8rem;
  line-height: 1.8;
}



.step-img-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before{
  content: "";
  display: block;
  width: 60%;
  /* height: 60%; */
  padding-bottom:60%; 
  background-color: #fdf2e9;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  /* transform: translate(-50%,-50%); */
}
.step-img-box::after{
  content:"";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width:50%;
  padding-bottom:50%;
  background-color:#fae5d3;
}


.step-img{
  width:35%;
}








/* ******************** */
/* Meals SECTION */
/* **************** */

.center-text {
  text-align: center;

}

.section-meal{
    padding:9.6rem 0;
}

.meal-title{
  font-size:2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;

}

.meal-attributes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.meal-attribute{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap:1.6rem;
}


.meal-icon{
  height: 2.4rem;
  width:2.4rem;
  color:#e67e22;
}

.meal-img{
  width:100%;
}

.tag{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  /* margin: 10px 0px; */
}
.vegan{
  background-color: #94d82d;
}
.paleo{
  background-color:#ffd43b;
}

.meal-tags{
  margin-bottom: 1.2rem;
  display: flex;
  gap:0.4rem;
}

.meal{
  box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
  border-radius: 11px;
  overflow: hidden; 

  transition: all 0.4s;
  /* padding: 4.8rem; */
/* so that image donot overflow outside and round nature of image is visible  */
}
.meal-content{
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}


.meal:hover{
  transform: translateY(-1.2rem); 
  box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.006);
}





/* diet section */


.all-recipes{
 text-align: center;
 font-size: 1.8rem;
}



/* ******************** */
/* testinmonial SECTION */
/* **************** */

.section-testimonials{
  
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;

}

.testimonial-container{
  padding: 9.6rem;
}

.testimonials{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap:4.8rem;
  column-gap:8rem;
  

}

.testimonial-img{
  width: 6.4rem;
  border-radius:50%;
  margin-bottom:1.2rem ;
}

.testimonial-text{
  font-size:1.8rem;
  line-height:1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name{
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* gallery section */

.gallery{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap:1.6rem;
  padding: 1.6rem; 
}
.gallery-item{
  display: flex;
  overflow: hidden;
}

.gallery-item img{
  display: block;
  width:100%;
  transition: all 0.4s;
  /* height: 100%; */
  
 }

.gallery-item img:hover{
  transform: scale(1.1);
}




/* ******************** */
/* pricing SECTION */
/* **************** */
.justify-end{
  justify-self: end;
  border:2px solid #fdf2e9 ;
  padding: 4.6rem;
}


.section-pricing{
  padding: 9.6rem 0;
}

.pricing-plan{
  
  border-radius: 11px;
  
  width:75%;
}

.complete-background{
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
  /* on the parent element as this parent elemnt content is overflowing  */
}

.complete-background::after{
  content: "Best value";
  position: absolute;
  top:7%;
  right: -18%;
  
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);

  

}

.plan-header{
  text-align: center;
  margin-bottom: 4.8rem;

}

.plan-name{
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;margin-bottom: 3.2rem;
}
.plan-price{
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span{
  font-size: 3rem;
  font-weight: 600;
  margin-right:0.8rem ;
}

.plan-text{
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up{
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details{
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}



/* features after pricing */

.feature{
  /* transition: all 1.9s; */
}

.feature-icon
{
  color: #e67e22;
  height:3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding:1.6rem;
  border-radius: 50%;
}

.feature-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.feature-title{
  color: #333;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.feature-text{


  font-size: 1.8rem;
  line-height: 1.8; 
}

/* ******************** */
/* CTA SECTION */
/* **************** */

.section-cta{
  padding: 4.8rem 0;
  padding-bottom: 12.8rem;
}

.cta{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color:#e67e22;
  /* height:50rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom,#eb984e,#e67e22);
  overflow: hidden;
}


.cta-text-box{
  color: #45260a;
  padding: 6.4rem;
  padding-top: 4.8rem;
}

.cta-text-box .heading-secondory{
  /* color:#45260a; */
  /* color: inherit; */
  margin-bottom: 3.2rem;
  font-size: 4.4rem;
  line-height: 1.2;

}

.cta-text{
  font-size:1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  
}

.cta-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label{
  display: block;
  font-size:1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.cta-form input ,.cta-form select{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  
  border: none;
  border-radius: 9px;
  background-color: #fdf2e9;
  /* as they dont inherit the font family which we define in body so we forcefully doing this  */

  box-shadow: 0 1px 2px rgba(0,0,0,0.1);

}

.cta-form select{
  cursor: pointer;
}

/* for changing placeholder */
.cta-form input::placeholder{
  color: #aaa;
}

/* we are defining focus on every element  especially on the form button */

.cta *:focus{
  outline: none;
  /* outline: 4px dotted #e67e22; */
  box-shadow:0 0 0 0.8rem rgba(253, 242, 233, 0.5) ;
}
  





.cta-form button{
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.cta-form button:hover{
  background-color: #fff;
  color: #555;
}


.cta-img-box{
    background-image: linear-gradient(to right bottom,rgba(235, 151, 78, 0.35),rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
    background-size:cover;
    background-position: center;
    /* if the height of container is not to big then in use */
}


/* ******************** */
/* footer SECTION */
/* **************** */

.footer{
  padding: 12.8rem 0;
  border-top:1px solid #eee ;
}

.grid--footer{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}


.logo-col{
  display: flex;
  flex-direction: column;
}

.footer-logo{
  display:block;
  margin-bottom: 3.2rem;

}



.social-links{
  list-style:none;
  display: flex;
  gap:2.4rem;
}

.footer-link ion-icon{
  height:2.4rem;
  width: 2.4rem;
}

.copyright{
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  /* color: red; */
  margin-top:auto;
}








.footer-heading{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}


.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address{
  margin-bottom: 2.4rem;
}

.footer-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

}

.footer-link:link,
.footer-link:visited{
  color:#767676;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.3s;

}
.footer-link:hover,
.footer-link:active{
  color: #555;
}